body {
  padding-top: 50px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

footer {
  background-color: rgb(43, 58, 154);
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 0;
  /*background-color: rgb(34, 37, 92);*/
}

.title {
  background-image: url("../images/univac.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(26, 26, 26);
  padding: 10% 0;
}

.title-text {
  color: white;
  padding-left: 50%;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 10%;
  vertical-align: middle;
  background-color: rgba(43, 58, 154, 0.75);
}

.title-text h1 {
  font-size: 50px;
}

.main {
  padding-top: 25px;
  padding-bottom: 50px;
}

.main-body {
  /*Nothing to see here yet.*/
}

.main-body h1 {
  text-align: center;
}

.main-body hr {
  border-top: 1px solid rgb(43, 58, 154);
  width: 300px;
}
